body{
              padding:20px;
            margin:20px;  

            }
            header {
                background-color: rgba(255, 145, 172, 0.7);
             color:rgb(255, 220, 230);
              padding:10px;
            margin:auto; 
            height:auto;
            width: 180px;
        
            }
            .link{
                color:rgb(125, 14, 37);
                background-color:rgb(81, 153, 71);
                border: 2px solid green;
                display:inline-block;
                margin: 10px;
                border-radius: 5px;
                padding: 5px;
                transition-duration: 0.3s;
                text-decoration: none;

            }
            .link:hover{
                background-color:rgb(143, 218, 69);
                border-radius: 20px;
                transition-duration: 0.3s;
            }
            .flexbox {
                display:flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                align-content:first baseline;
               
            }
            .flexbox > a, link {
                width: 100px;
                height: 40px
            }
            .naglowek {
                align-content: center;
            }
            .ramka{
            border: 5px solid white;
            background: rgba(255, 190, 201, 0.7);
            align-content: center;
            margin: 20px;
            }
            
            .zdjeciaP {
                float: right;
                height: auto;
            }
        
            .zdjeciaL{
                float: left;
                height: auto;
            }
             .image{
            width: 300px;
            height: 200px;
            transition-duration: 0.7s;
            margin: 10px;
            padding: 10px;
            align-content: center;
                justify-content: center;
                float: left;

        }
        .image:hover{

            width: 320px;
            height: 220px;
            transition-duration: 0.7s;
            border-radius: 50px;
        }
          
        
             .image1{
            width: 300px;
            height: 200px;
            transition-duration: 0.7s;
            margin: 10px;
            padding: 10px;
            align-content: center;
                justify-content: center;
                float: left;
             }
             .image1:hover{

            width: 550px;
            height: 450px;
            transition-duration: 0.7s;
            border-radius: 50px;

        }
        